<!DOCTYPE html>
<html lang="es">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'peluqueria/main.css' %}" />
    <title>{% block title %}Paraiso de Amor{% endblock %}</title>
    <link rel="icon" href="{% static 'peluqueria/images/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'peluqueria/images/favicon.ico' %}" type="image/x-icon" />
</head>
<div id="Superior">
  <p>
  <a href="/menu">
  <img src="{% static 'peluqueria/images/Paraiso01.jpg' %}" alt="Peluqueria" style="float:left;width:150px;height:65px;">
  </a>
  </p>
    <div class="navigation">
      <ul>
        <li><a class="active" href="/menu">Home</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn" onclick="clientesFunction()">Clientes</a>
            <div class="dropdown-content" id="clientesDropdown">
                <a href="/clientes">Todos los Clientes</a>
                <a href="/cliente_buscar#">Buscar Cliente</a>
                <a href="/import_excel">Importar Clientes desde Excel</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn" onclick="cajaFunction()">Caja</a>
            <div class="dropdown-content" id="cajaDropdown">
                <a href="/caja">Movimientos de Caja</a>
                <a href="/tarjetas">Movimientos de Tarjetas</a>
            </div>
        </li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn" onclick="contableFunction()">Contable</a>
            <div class="dropdown-content" id="contableDropdown">
                <a href="">Asientos</a>
                <a href="">Mayor</a>
                <a href="">Sumas y Saldos</a>

            </div>
          </li>
          <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn" onclick="informesFunction()">Informes</a>
              <div class="dropdown-content" id="informesDropdown">
                  <a href="/cumple">Listar cumpleños</a>
                  <a href="/cumple_a_excel">Exportar cumpleños a Excel</a>
              </div>
          </li>
          <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn" onclick="tablasFunction()">Tablas</a>
              <div class="dropdown-content" id="tablasDropdown">
                  <a href="/tipooperacion">Tipo de Operaciones</a>
                  <a href="/tipotarjeta">Tipo de Tarjetas</a>
              </div>
          </li>
          <li><a href="/mapa">Ubicación</a></li>
          <li><a href="/cerrar">Cerrar Sesion</a></li>
         <!--
         <li><a href="/admin">Administrador de datos</a></li>
         -->
      </ul>
    </div>
    <h5> Bienvenido: <strong>{{user.first_name|capfirst}}, {{user.last_name|capfirst}} </strong></h5>
<hr>
</div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function clientesFunction() {
        document.getElementById("clientesDropdown").classList.toggle("show");
    }
    function cajaFunction() {
        document.getElementById("cajaDropdown").classList.toggle("show");
    }
    function contableFunction() {
        document.getElementById("contableDropdown").classList.toggle("show");
    }
    function informesFunction() {
        document.getElementById("informesDropdown").classList.toggle("show");
    }
    function tablasFunction() {
        document.getElementById("tablasDropdown").classList.toggle("show");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
      if (!e.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var d = 0; d < dropdowns.length; d++) {
          var openDropdown = dropdowns[d];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
</html>
