{% extends "base.html" %}
<div id="Inferior">

  {% block content%}

  <div class="container">

      <h2>Listado de clientes</h2>

      <form class="form-inline" action="" method="GET">
          {{ form }}
          <button class="btn" type="submit">Search</button>
          </fieldset>
      </form>

      <table class="table table-bordered table-condensed">
          <tr>
            <th scope="col">Apellido y Nombre</th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Cumpleaños</th>
            <th scope="col">Tratamiento</th>
            <th scope="col">Última Fecha</th>
          </tr>
          {% for cliente in object_list %}
          <tr>
            <td>{{ cliente.Apellido }}, {{ cliente.Nombre }}</td>
            <td align="center"><address>{{ cliente.email }}</address></td>
            <td align="center"><address>{{ cliente.Teléfono }}</address></td>
            <td align="center">{{cliente.Cumpleaños|date:"d-M "}}</td>
            <td>{{ cliente.Tratamiento }}</td>
            <td align="center">{{cliente.fecha}}</td>
          </tr>
          {% endfor %}
      </table>

      {% if is_paginated %}
          {% include "paginator.html" %}
      {% endif %}

  </div>

  {% endblock %}
