{% extends "base.html" %}
<div id="Inferior">
{% block content %}
<div>
  <h3 align =center>Listado de cumpleaños</h3>
</div>
{% if cumple_list %}
    <table border="1px" align =center>
    <tr>
     <th scope="col">Apellido y Nombre</th>
     <th scope="col">Correo Electrónico</th>
     <th scope="col">Teléfono</th>
     <th scope="col">Cumpleaños</th>
    </tr>
        {% for cumple in cumple_list %}
        <tr>
            <td>{{ cumple.Apellido }}, {{ cumple.Nombre }}</td>
            <td align="center"><address>{{ cumple.email }}</address></td>
            <td align="center"><address>{{ cumple.Teléfono }}</address></td>
            <td align="center">{{cumple.Cumpleaños|date:"d-M "}}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
   <p>No hay cumpleaños</p>
{% endif %}
{% endblock %}
</div>
