{% extends "base.html" %}
<div id="Inferior">
  {% load staticfiles %}
  {% block content%}
  <div class="container">
      <h3 align =center>Tipos de Operaciones</h3>
          <a href="/tipooperacion_add">
              <img src="{% static 'peluqueria/images/operacion.jpeg' %}" alt="Peluqueria" style="float:left;width:50px;height:50px;">
          </a>
          <table border="1px" align =center>
          <tr>
            <th scope="col">Tipo Operación</th>
            <th scope="col">Eliminar</th>
          </tr>
          {% for tipooperacion in object_list %}
          <tr>
            <td><a href="/tipooperacion/{{ tipooperacion.pk }}/">{{ tipooperacion.tipo_operacion }}</a></td>
            <td align="center"><a href="/tipooperacion/{{ tipooperacion.pk }}/delete/">
              <img src="{% static 'peluqueria/images/eliminar.jpeg' %}" alt="Peluqueria" style="float:left;width:50px;height:50px;">
              </a>
            </td>
          </tr>
          {% endfor %}
      </table>
      {% if is_paginated %}
          {% include "paginator.html" %}
      {% endif %}
  </div>

  {% endblock %}
