
body {
    color: black;
    padding-top: 5px;
    background-color: white;
}

sinfondo {
    color: white;
    background-image: none;
    padding-top: 5px;
    text-align: left;
}

h1 {
    color: purple;
    text-align: center;
}

h3 {
    color: blue;
    text-align: center;
}

section {
    color: blue;
    text-align: left;
}
header {
    color: blue;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

#Superior {
  background: url("images/Paraiso01.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  top:0;
  left:0; width:100%;
  height:10%;
  overflow:auto; }

#Inferior {
top:15%; left:0%;
width:75%;
height:85%;
overflow:auto; }
